body {
    background-color: #101716;
}

body > .navbar {
    position: relative
}

.navbar-default {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0px, rgba(255, 255, 255, 0) 100%);
    border: 0;
    border-radius: 0;
}
.navbar .navbar-brand {
    display: none;
}

.navbar .navbar-brand > div {
    position: absolute;
    top: 0;
}
.navbar .navbar-brand img {
    height: 50px;
}

.text {
    font-size: 1.6em;
    padding: 20px;
    text-align: center;
}

.buttons {
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}

.overlay {
    background: rgba(220, 220, 220, 0.4);
}

.views {
    overflow: hidden;
}

.views .wrapper {
    width: calc(360px * 6);
    transition: margin-left 1s;
}

.views .wrapper:after {
    content: " ";
    display: block;
    clear: both;
}

.views .view {
    float: left;
    width: 360px;
    height: 400px;
}

.buttons .btn {
    background-color: #F2F1F0;
}

.buttons .btn:hover {
    background-color: #F2F1F0;
}

.feedback .btn {
    width: 260px;
}

.two-buttons-wrapper {
    width: calc(360px * 2);
    transition: margin-left 0.3s;
}

.two-buttons-wrapper:after {
    content: " ";
    display: block;
    clear: both;
}

.two-buttons-wrapper > div {
    float: left;
    width: 360px;
}

.two-buttons-wrapper p {
    font-size: 24px;
    margin: 0;
}
